{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/stylesheets/editor.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-2 col-sm-4">
            <div class="row editor-panel">
                <div class="col-lg-11 col-lg-offset-1 desc">
                    Filter
                </div>
            </div>
            <form action="/filter" method="POST" id="filter">
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-1">
                        <select id="effect-type" class="form-control" form="filter" name="filter">
                            <option value="border">Border</option>
                            <option value="lomo">Lomo</option>
                            <option value="lens-flare">Lens Flare</option>
                            <option value="black-white">Black White</option>
                            <option value="blur">Blur</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </form>
            <div class="row editor-panel">
                <div class="col-lg-11 col-lg-offset-1 desc">
                    Annotation
                </div>
            </div>
            <form action="/annotate" method="POST" id="annotate" role="form">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <textarea class="form-control" name="content"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-1">
                        <label>Position</label>
                        <select id="annotation-position" class="form-control" name="position" form="annotate">
                            <option value="top">Top</option>
                            <option value="bottom">Bottom</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Size</label>
                        <input class="form-control" type="number" min="10" max="48" name="size">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-1">
                        <label>Font Type</label>
                        <select id="annotation-font" class="form-control" form="annotate" name="type">
                            <option value="Times-Bold">Times</option>
                            <option value="Courier">Courier</option>
                            <option value="Helvetica">Helvetica</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                    </div>
                </div>
            </form>
            <div class="row editor-panel">
                <div class="col-lg-11 col-lg-offset-1 desc">
                    Undo
                </div>
            </div>
            <form action="/undo" method="POST" id="submit" role="form">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <button type="submit" class="btn btn-warning btn-block">Undo</button>
                    </div>
                </div>
            </form>
            <form action="/submit" method="POST" id="submit" role="form">
                <div class="row submit-btn">
                    <div class="col-lg-10 col-lg-offset-1">
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                    </div>
                </div>
            </form>
            <form action="/discard" method="POST" id="discard" role="form">
                <div class="row discard-btn">
                    <div class="col-lg-10 col-lg-offset-1">
                        <button type="submit" class="btn btn-danger btn-block">Discard</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-8 col-sm-8 img-preview">
            <img class="img-responsive" src="{{ photo }}">
        </div>
    </div>
    <div class="row">
    </div>
{% endblock %}