{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/stylesheets/editor.css">
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="alert alert-success text-center" role="alert" style="font-size: 24px">Save Successfully! <a href="/">Back To Gallery</a><br>
                Permanent Link: <a href="{{ photo_link }}">{{ photo_link }}</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="{{ photo }}">
                    <img src="{{ photo }}" class="img-responsive">
                </a>
            </div>
        </div>
{% endblock %}