{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="static/stylesheets/app.css">
{% endblock %}
{% block content %}
    <div class="row">
        {% for photo in photos %}
            <div class="col-lg-3">
                <a href="{{ photo }}">
                    <img class="img-responsive index-image" src="{{ photo }}">
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="row page-control">
        <div class="col-lg-2 text-center">
            <a class="btn btn-primary {{ prev }}" href="/?page={{ page - 1 }}">Previous Page</a>
        </div>
        <div class="col-lg-2 col-lg-offset-3 text-center page-number">
            {{ page }} of {{ total_page }}
        </div>
        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a class="btn btn-primary {{ next }}" href="/?page={{ page + 1 }}">Next Page</a>
        </div>
    </div>

    <div class="row upload-control">
        <div class="col-lg-4 text-center">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="btn btn-success file-upload">
                    Choose File
                    <input type="file" class="upload" name="img" id="img">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col-lg-2 col-lg-offset-5">
            <a class="btn btn-warning" href="/resume">
                Resume
            </a>
        </div>
    </div>
{% endblock %}