{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/stylesheets/editor.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="alert alert-warning text-center" role="alert" style="font-size: 24px">System Initialization
                <a class="btn btn-success" href="/init">Please Go Ahead</a>
                <a class="btn btn-danger" href="/">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}