body{
    background-color: #000000;
}

.desc{
    color: #ffffff;
    font-size: 1.5em;
}

.editor-panel{
    margin-top: 30px;
}

label{
    color: #ffffff;
}

.hide{
    visibility: hidden;
}

.submit-btn{
    margin-top: 100px;
}

.discard-btn{
    margin-top: 20px;
}